<html>
    <head>
        <title>Confringe's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Confringe's blog</a></h1>
        </div>
        <div>
            <h2><a href="">My first post</a></h2>
            <p>published 05.8.18, 16.39.12</p>
            <p>Something about things that do things and then they do even more things than any other things xdd.</p>
        </div>

        <div>
            <h2><a href="">My not first post</a></h2>
            <p>published 05.8.18, 16.40.45</p>
            <p>Some more things about things that do things and then they do even more things than any other things xdd.</p>
            </div>
    </body>
</html>